{% extends 'templates/welcome.html.twig' %}
{% block content %}
	<section id="slider" style="height:576px;" class="shell clearfix garnish">
		<div class="text-slider-wrap" style="opacity: 1;">
			<div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 690px; height: 576px; margin: 0px; overflow: hidden;">
				<div class="text-slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; height: 2880px; width: 690px; z-index: auto;">
         			<div class="slide" style="height: 576px; padding-top: 123px;">
	<h2>Subscribe</h2>
	<hr><br>
	<form>
		<span style="padding-right: 30px;padding-left: 20px;">

		Pseudo:</span>		<input type="text" name="firstname" style="border: 1px solid black;"><br><br>
		<span style="padding-right: 15px;padding-left: 20px;">
		Password:</span>  	<input type="password" name="lastname" style="border: 1px solid black;"><br><br>
		<span style="padding-right: 38px;padding-left: 20px;">
		Email:</span>		<input type="text" name="email" style="border: 1px solid black;"><br><br>
		<span style="padding-right: 40px;padding-left: 20px;">
		<button type="button" ></span>Validate</button> 
	</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}