{% extends 'templates/welcome.html.twig' %}
{% block content %}
    <section id="slider" style="height:576px;" class="shell clearfix garnish">
        <div class="text-slider-wrap" style="opacity: 1;">
            <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 690px; height: 576px; margin: 0px; overflow: hidden;">
                <div class="text-slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; height: 2880px; width: 690px; z-index: auto;">
                    <div class="slide" style="height: 576px; padding-top: 20px;">
                        <h2>Subscribe</h2>
                        <hr><br>
                        <form role="form" method="post" action="/user/registration">
                            <div class="form-group">
                                <label for="pseudo">Pseudo</label>
                                <input type="text" class="form-control" id="Pseudo" placeholder="Pseudo" name="pseudo">
                            </div>
                            <div class="form-group">
                                <label for="password">Mot de passe</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe" name="password">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Email" name="email">
                            </div>
                            <button type="submit" class="btn btn-primary">Valider</button>
                        </form>
                    </div>
		</div>
            </div>
        </div>
    </section>
{% endblock %}