{% extends 'templates/welcome.html.twig' %}
{% block content %}
    <section id="slider" class="shell clearfix garnish" style="padding: 20px;">
        <div>
            <ul class="nav nav-pills">
                <li class="active"><a href="/">Accueil</a></li>
                <li><a href="/demo/findBook">Reserver</a></li>
                <li><a href="/user/profile">Mon profil</a></li>
                <li><a href="/demo/myBook">Mes reservations</a></li>
                <li><a href="/demo/myRestaurant">Mon restaurant</a></li>
            </ul>
        </div>
        <div style="margin-top: 10px;">
            <h1>Bienvenue sur le panneau utilisateur</h1>
            <p>Utilisez la fonction de réservation pour trouver un repas dans les environs.</p>
            <p>Utilisez la rubrique mon compte afin de modifier vos informations</p>
            <p>Consultez les réservations effectuées dans la rubrique "Mes réservations"</p>
        </div>
    </section>     
{% endblock %}