<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<title>
		<h1><p>Subscribe</p></h1>
	</title>
	<body>
		<h1>Subscribe</h1>
	<hr>
	<form>
		<span style="padding-right: 30px;padding-left: 20px;">

		Pseudo:</span>		<input type="text" name="firstname"><br><br>
		<span style="padding-right: 15px;padding-left: 20px;">
		Password:</span>  	<input type="text" name="lastname"><br><br>
		<span style="padding-right: 40px;padding-left: 20px;">
		Email:</span>		<input type="text" name="adress"><br><br>
		<span style="padding-right: 40px;padding-left: 20px;">
		<button type="button"></span>Validate</button> 
	</form>
	</body>
</html>