<div class="shell clearfix">
    <section id="bottom-bar">
                       
        <p class="left address-phone">
            Copyright ©2014 FoodShare
        </p>
        <p class="right address-phone">
            <i class="fa fa-map-marker"></i>&nbsp;21 - 23 Rue pasteur&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-phone"></i>&nbsp;42 42 42 42 42
        </p>
    </section>
</div>