{% extends 'templates/welcome.html.twig' %}
{% block content %}
<section id="slider" style="height:576px;" class="shell clearfix garnish">
    <div class="text-slider-wrap" style="opacity: 1;">
      <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 690px; height: 576px; margin: 0px; overflow: hidden;">
        <div class="text-slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; height: 2880px; width: 690px; z-index: auto;">
          <div class="slide" style="height: 576px; padding-top: 123px;">
            <h2>Regalez vous avec foodShare</h2>
            <p>Marre de mal manger ? Optez pour foodShare !</br>Restaurez-vous à petit prix, découvrez de nouvelles saveurs et de nouvelles personnes.</p>
            <a href="http://demo.boxystudio.com/garnish/#" class="bx-btn btn-prev"><i class="fa fa-arrow-up"></i></a>
            <a href="http://demo.boxystudio.com/garnish/#" class="bx-btn btn-next"><i class="fa fa-arrow-down"></i></a>
            <a href="http://demo.boxystudio.com/garnish/menu-builder/" class="bx-btn">UN LIEN</a>
          </div>
          <div class="slide" style="height: 576px; padding-top: 134px;">
            <h2>La simplicité foodShare</h2>
            <p>Choisissez votre repas en ligne et très simplement.</br>Un jour indien, un jour japonais ...</br>Le tout à une bonne tablée.</p>
            <a href="http://demo.boxystudio.com/garnish/#" class="bx-btn btn-prev"><i class="fa fa-arrow-up"></i></a>
            <a href="http://demo.boxystudio.com/garnish/#" class="bx-btn btn-next"><i class="fa fa-arrow-down"></i></a>
            <a href="http://demo.boxystudio.com/garnish/events/" class="bx-btn">UN AUTRE LIEN</a>
          </div>
        </div>
      </div>
    </div>
    <div class="image-slider-wrap" style="opacity: 1;">
      <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 510px; height: 781px; margin: 0px; overflow: hidden;">
        <div class="image-slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 2550px; height: 781px; z-index: auto; opacity: 1;">
          <div class="slide" style="width: 510px;">
            <img src="/Garnish_files/image1.031a07b844-685x768.jpg" alt="" width="685" id="image-id-3">
          </div>
          <div class="slide" style="width: 510px;">
            <img src="/Garnish_files/image2.72f4c6916c-685x774.jpg" alt="" width="685" id="image-id-4">
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">var slider_auto_cycle_speed = 7000;</script>
</section>
<section id="feature-blocks" class="shell clearfix">
  <div class="inner-shell">
    <div class="fblock third" style="height: 500px;">
      <div style="height: 400px;">
        <h3>Maxime</h3>
        <img src="/img/happy1.jpg">
        <p>J'ai été agréablement surpris par Foodshare. Cela me permet de manger de la nourriture de bonne qualité et de cultures différentes chaque jour à petit prix !</p>
      </div>
      <a class="bx-btn sm iconed" href="http://demo.boxystudio.com/garnish/#"><i class="fa fa-cutlery"></i>Browse Our Menu</a>
    </div>
    <div class="fblock third" style="height: 500px;">
      <div style="height: 400px;">
        <h3>Tabia</h3>
        <img src="/img/comment2.jpg">
        <p>J'ai choisi Foodshare car cela me permet d'avoir la compagnie de personnes agréables le midi tout en arrondissant mes fins de mois.</p>
      </div>
      <a class="bx-btn sm iconed" href="http://demo.boxystudio.com/garnish/#"><i class="fa fa-calendar"></i>View the Calendar</a>
    </div>
    <div class="fblock third" style="height: 500px;">
      <div style="height: 400px;">
        <h3>Paul et Sandra</h3>
        <img src="/img/985-dinner-party-2.jpg">
        <p>Foodshare nous a permi de devouvrir de nouveaux plats dans un esprit de convivialité. Il est toujours sympatique de découvrir de nouvelles cultures pour un prix très abordable.</p>
      </div>
      <a class="bx-btn sm iconed" href="http://demo.boxystudio.com/garnish/#"><i class="fa fa-coffee"></i>Book Your Table</a>
    </div>
  </div>
</section>
{% endblock %}