{% extends 'templates/welcome.html.twig' %}
{% block content %}
       
    <section id="slider" class="shell clearfix garnish" style="padding: 20px; height: 800px;">
        <form role="form">
        	<div class="form-group">
	        	<label for="ex1">Nombre de couverts</label>
    	    	<select class="form-control" style="width: 500px;" id="ex1">
        			<option>Colombo de porc</option>
        			<option>Maki sushi - Yakisoba</option>
        		</select>
        	</div>

        	<div class="form-group">
	        	<label for="ex2">Nombre de couverts</label>
	        	<select class="form-control" style="width: 70px;">
				  <option>1</option>
				  <option>2</option>
	  			  <option>3</option>
	  			  <option>4</option>
	  			  <option>5</option>
				</select>
			</div>



        	<div class="checkbox">
        		<label>
				    <input type="checkbox" value="">
					à emporter
				</label>
			</div>
			<button type="submit" class="btn btn-default">Valider la commande</button>
		</form>
    </section>
{% endblock %}