{% extends 'templates/welcome.html.twig' %}
{% block content %}
       
    <section id="slider" class="shell clearfix garnish" style="padding: 20px; min-height: 200px;">
        <h2 class="centered">
            <span>Mes reservations</span>
        </h2>
        <h1 class="page-title" style="font-size: 30px;">
            Futures
        </h1>
        <table class="table table-hover list-restaurants">
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Plat</th>
                <th>Date et Heure</th>
                <th>Modifier</th>
                <th>Annuler</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Tang</td>
                <td>21 Rue Pasteur, 94270 le Kremlin Bicetre</td>
                <td>Pattes de chien</td>
                <td>Vendredi 12/09/2014 12h</td>
                <td><a class="btn btn-primary" href="/demo/book">Modifer</a></td>
                <td><a class="btn btn-danger">Annuler</a></td>
            </tr>
        </table>
        
        <h1 class="page-title" style="font-size: 30px;">
            Passées
        </h1>
        <table class="table table-hover list-restaurants">
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Plat</th>
                <th>Date et Heure</th>
                <th>Noter</th>
                <th>Supprimer</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Patrick</td>
                <td>35 Allée du campeur, 94270 le Kremlin Bicetre</td>
                <td>Sandwich</td>
                <td>Mercredi 10/09/2014 12h</td>
                <td><a class="btn btn-primary" href="/demo/note">Noter</a></td>
                <td><a class="btn btn-danger">Supprimer</a></td>
            </tr>
        </table>
    </section>
{% endblock %}