{% extends 'templates/welcome.html.twig' %}
{% block content %}
       
    <section id="slider" class="shell clearfix garnish" style="padding: 20px; min-height: 200px;">
        <h2 class="centered">
            <span>Mon restaurant</span>
        </h2>
        <script type="text/javascript">
            function addFood()
            {
                var str;
                str = nbr.value + ' ' + food.value + ' à ' + prix.value + ' €';
                food.value = '';
                prix.value = '';
                nbr.value = '';
                $('select[name=menu]').append('<option>' + str + '</option>');
            }

            function tryRemove(index)
            {
                if ($(this).prop('selected'))
                {
                    $(this).remove();
                }
            }

            function rmFood()
            {
                $('option').each(tryRemove);
            }
        </script>

        <form role="form" action="/demo/addMenu">
            <select multiple class="form-control" style="margin-bottom: 15px;" name="menu">
            </select>
            <input type="button" class="btn btn-default" value="Retirer un plat" onclick="rmFood();" style="margin-bottom: 15px;" />

            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-3">
                    <input type="text" class="form-control" id="food" placeholder="Titre du plat">
                </div>
                <div class="col-md-1">
                    <input type="text" class="form-control" id="prix" placeholder="Prix €">
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" id="nbr" placeholder="Portions">
                </div>
            </div>
            <input type="button" class="btn btn-default" value="Ajouter un plat" onclick="addFood();" />
            <button type="submit" class="btn btn-default">Valider mon menu</button>
        </form>
    </section>
{% endblock %}