{% extends 'templates/welcome.html.twig' %}
{% block content %}
       
    <section id="slider" class="shell clearfix garnish" style="padding: 20px; min-height: 200px;">
        <h2 class="centered">
            <span>Mon restaurant</span>
        </h2>
        
    </section>
{% endblock %}