{% extends 'templates/welcome.html.twig' %}
{% block content %}
<section style="padding: 30px;"id="slider" style="height:576px;" class="shell clearfix garnish">
  <div class="text-slider-wrap" style="opacity: 1;">
    <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 690px; height: 576px; margin: 0px; overflow: hidden;">
      <div class="text-slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; height: 2880px; width: 690px; z-index: auto;">
        <h2>Qui sommes-nous?</h2>
        <br><br>
        <span>Nous sommes 4 étudiants d'EPITECH Paris en 3ème année.</span> <br>
        <span>L'équipe se compose d'Arnaud Drain, de François Palà, de Gabriel Poulet et de Nicolas Vareille.<span> <br> <br>
        <span>Notre idée vient d'un projet lancé par l'école. A la suite d'une conférence un matin sur la "sharing economy" nous devions trouver un concept à présenter à un jury dans l'après midi.</span><br>
        <span>Entre les deux il a bien fallu manger, et c'est là que l'idée est venue!</span><br>
        <span>Une fois l'idée acceptée nous avons décidé de la développer, et voilà!</span><br>
        <img src="/img/fr.jpg" height="300" width="200"/>
      </div>
    </div>
  </div>
</section>
{% endblock %}